<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/file1.css' %}">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>
        {{post.title}}
    </title>
<meta charset="UTF-8">
</head>

<body>


{% include "posts/bars.html" %}

<div id="main">
    <div class="topnav">
        <a class="container" onclick="myFunction(this);toggleNav()">
            <div class="container">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        <div>
            <a href="/home" class="topnav active" style="float:right;width:12%;">
                home
            </a>
            <a id="open_search" href="#" class="topnav" style="float:right;width:12%;" onclick="openSearch(this)">
                search
            </a>
        </div>
    </div>

    <h1>
        {{post.title}}
    </h1>

    <p>author: {{post.author}}</p>

    <p>
        {{post.content|safe }}
    </p>

    <p>
        <br>Publish Date: {{post.pub_date}}
    </p>
</div>

</body>
<script>
function myFunction(x) {
  x.classList.toggle("change");
}

function openSearch(x) {
    x.style="float:right;width:35%;";
}


function toggleNav() {
    var sidenav = document.getElementById("mySidenav"),
    main = document.getElementById("main");
    sidenav.style.width = sidenav.style.width === "250px" ? '0' : '250px';
    main.style.marginLeft = main.style.marginLeft === "250px" ? '0' :  '250px';
}
</script>


</html> 
