<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bars/bars.css' %}">
    <script src="{% static 'bars/bars.js' %}"></script>

    <title>
        {{post.title}}
    </title>
<meta charset="UTF-8">
</head>

<body>


<div id="main">
    {% include "bars/bars.html" %}

    <h1>
        {{post.title}}
    </h1>

    <p>author: {{post.author}}</p>

    <p>
        {{post.content|safe }}
    </p>

    <p>
        <br>Publish Date: {{post.pub_date}}
    </p>
</div>

</body>



</html> 
